:root {
  --primary: #21dac1;
  --secondary:#9ccbc5c4;
  --dark : #025349;
  --sidebar:#022925;
  --activeMenu : white;
  --inactiveMenu:rgba(255, 255, 255, 0.731);
  --bgColor:#ebf6f5c4;
  --blue:#bb86fc;
  --recieved:#d6bdf5;
  --pink:#FF919D;
  --orange:#fca61f;
  --lightPink:#f799a354;

  
  
  
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bottomMenu{
  display: none !important;
}
.alert{
  color: red;
  padding: 10px;
  font-size: 10px;
  display: none;

}
@media screen and (max-width: 768px) {
  .sidemenu{
    display: none !important;
  }
  .main{
    width: 100% !important;
  }
  .bottomMenu{
    display: flex !important;
  }
  .alert{
    display: block;
  }
}